mixin scripts
    script(src='assets/js/misc/jquery.js', type='text/javascript')
    script(src='assets/js/misc/tools.js', type='text/javascript')
    script(src='assets/js/data.js', type='text/javascript')
    script(src='assets/js/functions.js', type='text/javascript')

mixin options
    select.select()
        option(value="0") The Holocaust (4,900,000 - 17,000,000)
        option(value="1") Generalplan Ost (4,500,000 - 13,700,000)
        option(value="2") Holodomor (1,800,000 - 7,500,000)
        option(value="3") Cambodian Genocide (1,400,000 - 3,000,000)
        option(value="4") Kazakhstan Famine (1,300,000 - 1,750,000)
        option(value="5") Armenian Genocide (700,000 - 1,500,000)
        option(value="6") Rwandan Genocide (500,000 - 1,000,000)
        option(value="7") Zunghar Genocide (480,000 - 600,000)
        option(value="8") Circassian Genocide (400,000 - 1,500,000)
        option(value="9") Serbian Genocide (360,000 - 600,000)
        option(value="10") Bangladesh Genocide (300,000 - 3,000,000)
        option(value="11") Greek Genocide/Pontic Genocide (290,000 - 750,000)
        option(value="12") Assyrian Genocide (275,000 - 750,000)
        option(value="13") Albigensian Crusade/Cathar Genocide (200,000 - 1,000,000)
        option(value="14") Aardakh (145,000 - 200,000)
        option(value="15") Porajmos/Romani Genocide (130,000 - 500,000)
        option(value="16") Battle Of Carthage/Punic Genocide (150,000)
        option(value="17") Polish Genocide (110,000)
        option(value="18") East Timor Genocide (85,000 - 200,000)
        option(value="19") Burundian Genocide of Hutus &amp; Tutsis (50,000 - 210,000)
        option(value="20") Libyan Genocide (80,000)
        option(value="21") Isaaq Genocide (50,000 - 200,000)
        option(value="22") Kurdish Genocide (50,000 - 200,000)
        option(value="23") Guatemalan Genocide (35,000 - 170,000)
        option(value="24") Herero &amp; Namaqua Genocide (34,000 - 110,000)
        option(value="25") Bosnian Genocide (8,000 - 40,000)
        option(value="26") Selk'nam Genocide (2,500 - 4,000)
        option(value="27") Genocide of Yazidis by ISIL (Ongoing) (2,100 - 4,400)

mixin timer
    .timer
        p.count 00:00:00
        
mixin death-count
    .death-counts
        p.death-count Deaths: 0.0 people.
    
mixin counter
    .counter
        .top
            .left
                +options
                    
            .right
                +timer
        
        .bottom
            +death-count
        
