mixin scripts
  script(src='assets/js/misc/jquery.js', type='text/javascript')
  script(src='assets/js/misc/tools.js', type='text/javascript')
  script(src='assets/js/misc/tone.js', type='text/javascript')
  script(src='assets/js/data.js', type='text/javascript')
  script(src='assets/js/functions.js', type='text/javascript')
  
mixin title
    .main
      .qwert.layer
          .q.key Q
          .w.key W
          .e.key E
          .r.key R
          .t.key T
          .y.key Y
          .u.key U
          .i.key I
          .o.key O
          .p.key P
          
      .asdfg.layer
          .a.key A
          .s.key S
          .d.key D
          .f.key F
          .g.key G
          .h.key H
          .j.key J
          .k.key K
          .l.key L
      
      .zxcvb.layer
          .z.key Z
          .x.key X
          .c.key C
          .v.key V
          .b.key B
          .n.key N
          .m.key M
          
          
mixin notes
    .notes
        p#notes Nothing yet...