mixin scripts
  script(src='assets/js/misc/jquery.js', type='text/javascript')
  script(src='assets/js/misc/MidiConvert.js', type='text/javascript')
  script(src='assets/js/misc/tools.js', type='text/javascript')
  script(src='assets/js/data.js', type='text/javascript')
  script(src='assets/js/functions.js', type='text/javascript')

mixin main
  .main
    .top
      p Drop a midi file here.
      input(type="file" accept="audio/midi")
      
    .bottom
      .left
        textarea.result
        
      .right
      
        .top-controls
          .copy
            p Copy to Clipboard
            
        .bottom-controls

  .links
    p
      a(href="http://sebastianwolff.info/download/portal-2/Want%20You%20Gone.mid") Want You Gone – Sebastian Wolff
      
    p
      a(href="http://www.midiworld.com/download/854") All Star – Smash Mouth
      
    p
      a(href="http://www.midialternative.com/muse/originofsymmetry/pluginbaby.mid") Plug In Baby - Muse
